.currency_container {
  height: 72px;
  background-color: var(--tg-theme-hint-color);
  width: 72px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .logo_container {
} */
.icon_container {
  width: 32px;
  margin: 0 auto;
}
.currency_title {
  padding: 0;
  margin: 0;
  font-size: 10px;
  color: var(--tg-theme-button-text-color);
  font-weight: 400;
  text-align: center;
}
.currency_type {
  padding: 0;
  margin: 0;
}
