.header{
    padding: 15px 8px;
    background-color: var(--tg-theme-header-bg-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 15px;
}
.container{
    display: flex;
    justify-content: center;
    color: var(--tg-theme-text-color)
}